nav {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0 16px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cart {
    display: inline-block;

    .cart-counter {
      position: absolute;
      top: 10px;
      right: 5px;
      background-color: #bdbdbd;
      color: #fff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }

  img {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
}

.sidebar {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  background-color: #cfcece;
  transition: left 0.3s ease;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;

  .titleImg {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;

    h3 {
      margin-left: 5%;
    }
    img {
      width: 30px;
      height: 30%;
      cursor: pointer;
    }
  }

  .category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 15vh;
    overflow-y: scroll;

    .category-list-item {
      padding: 10px;
      border-bottom: 1px solid #444;
      color: #fff;
      text-decoration: none;
      display: block;
      transition: background-color 0.2s ease;

      a {
        color: inherit;
        text-decoration: none;
      }
      cursor: pointer;
      &:hover {
        background-color: #555;
      }
    }
  }
}

.sidebar.open {
  left: 0;
  @media screen and (max-width: 470px) {
    width: 100%;
  }
}

.shopping-aside {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 250px;
  background-color: #cfcece;
  transition: left 0.3s ease;
  justify-content: center;
  overflow-y: auto;
  right: -331px;
  width: -331px;
}

.shopping-aside.open {
  right: 0;
}
