<div class="navSidebar">
  <nav>
    <img
      (click)="toggleSidebar()"
      src="../../../assets/hamburgerMenu.svg"
      alt=""
    />

    <img (click)="nagivateHouse()" src="../../../../assets/house.svg" alt="" />
    <shared-search-input />

    <div class="cart">
      <img
        (click)="toggleCartAside()"
        src="../../../assets/shoppingCart.svg"
        alt=""
      />
      <span class="cart-counter">{{ numberOfProducts }}</span>
    </div>
  </nav>

  <div class="sidebar" [ngClass]="{ open: isSidebarOpen() }">
    <!-- Contenido del sidebar -->

    <div class="titleImg">
      <h3>Categorias:</h3>
      <img
        src="../../../../assets/closeCircle.svg"
        alt=""
        (click)="closeSidebar()"
      />
    </div>

    <ul class="category-list">
      <li *ngFor="let item of categories()" class="category-list-item">
        <a [routerLink]="['category', item]" (click)="closeSidebar()">{{
          item
        }}</a>
      </li>
    </ul>
  </div>

  <div class="shopping-aside" [ngClass]="{ open: isCartOpen() }">
    <shopping-cart-aside />
  </div>
</div>
