.gridContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // Grid de 4 columnas
  gap: 20px; // Espacio entre tarjetas

  .product-card {
    width: 100%; // Cada tarjeta ocupa el 100% del espacio de la columna
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 2%;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;

    cursor: pointer;

    .card-bottom {
      display: flex;
      justify-content: space-around;

      .text-line {
        text-decoration: line-through;
      }
    }
    img {
      width: 17vw;
      height: 27vh;

      @media screen and (max-width: 768px) {
        width: 30vw;
        height: 30vh;
      }
      @media screen and (max-width: 480px) {
        width: 60vw;
        height: 30vh;
      }
    }

    &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.price {
  font-size: 1.1em;
  font-weight: bold;
}
