<div class="gridContent" *ngIf="productsList!=undefined && productsList.length>0; else templateLoader">
  <div [routerLink]="['/product', product.id]" class="card product-card" *ngFor="let product of productsList">
    <img [src]="product.thumbnail" alt="{{ product.title }}" />
    <p>Brand : {{product.brand}}</p>
    <p>{{ product.title }}</p>

    <div class="card-bottom">
      <p class="text-line">{{ product.price }}$</p>
      <p class="price">{{ (product.price - (product.price * product.discountPercentage/100)) | number:'1.2-2'}}$</p>
      <p>({{ product.discountPercentage }}% descuento)</p>
    </div>
  </div>
</div>


<ng-template #templateLoader>
  <h2>Buscando tu producto...</h2>
  <div class="loader-container">
    <img class="imgLoader" src="../../../../assets/gifPato.gif" alt="">
  </div>
</ng-template>
