<div class="gridContent" *ngIf="productsList">
  <div [routerLink]="['/product', product.id]" class="card product-card" *ngFor="let product of productsList">
    <img [src]="product.thumbnail" alt="{{ product.title }}" />
    <p>Brand : {{product.brand}}</p>
    <p>{{ product.title }}</p>

    <div class="card-bottom">
      <p class="text-line">{{ product.price }}$</p>
      <p>{{ (product.price - (product.price * product.discountPercentage/100)) | number:'1.2-2'}}</p>
      <p>({{ product.discountPercentage }}% descuento)</p>
    </div>
  </div>
</div>